extends layout

block content
  h1 Séries que mais aprovaram em cada CRE
  table.table.table-condensed
    tr 
      td.text-center Descrição da Série
      td.text-center Código do CRE
      td.text-center Percentual de Aprovados
      td.text-center Total de Aprovados
    each row in dados
      tr
        td.text-center #{row.Descricao}
        td.text-center #{row.CodigoCRE}
        td.text-center #{row.PercAprovados}
        td.text-center #{row.TotalAprovados}
