extends layout

block content
  h1 Número de professores por disciplina em cada bairro
  table.table
    tr 
      td Sigla da Disciplina
      td Nome do Bairro
      td Número de Professores
    each row in dados
      tr
        td #{row.Sigla}
        td #{row.NomeBairro}
        td #{row.NumProf}
