extends layout

block content
  h1 Bairros que tiveram menos de 200 alunos em 2012 e em 2013
  table.table.table-condensed
    tr 
      td.text-center Nome do Bairro
      td.text-center Número de Alunos
      td.text-center Ano
    each row in dados
      tr
        td.text-center #{row.NomeBairro}
        td.text-center #{row.Total}
        td.text-center #{row.Ano}