extends layout

block content
  h1 Número de Aprovados por Bairro
  table.table.table-condensed
    tr 
      td.text-center Sigla da CRE
      td.text-center Nome do Bairro
      td.text-center Número de Professores
    each row in dados
      tr
        td.text-center #{row.Sigla}
        td.text-center #{row.NomeBairro}
        td.text-center #{row.NumProf}