extends layout

block content
  h1 Média de Professores por Disciplina
  table.table.table-condensed
    tr 
      td.text-center Nome da Disciplina
      td.text-center Média de Professores
    each row in dados
      tr
        td.text-center #{row.Nome}
        td.text-center #{row.MediaProfessores}
