extends layout

block content
  h1 Média de alunos aprovados por CRE
  table.table.table-condensed
    tr 
      td.text-center Código da CRE
      td.text-center Média da Frequência de Aprovados
    each row in dados
      tr
        td.text-center #{row.codigoCRE}
        td.text-center #{row.MediaAprovados}