extends layout

block content
  h1 Média de Professores por Disciplina
  table.table
    tr 
      td Nome da Disciplina
      td Média de Professores
    each row in dados
      tr
        td #{row.Nome}
        td #{row.MediaProfessores}
