extends layout

block content
  h1 Número de Aprovados por Bairro
  table.table.table-condensed
    tr 
      td.text-center Nome da Disciplina
      td.text-center Número de Professores
      td.text-center Nome da Escola
    each row in dados
      tr
        td.text-center #{row.NomeDisciplina}
        td.text-center #{row.numeroProfessores}
        td.text-center #{row.NomeEscola}