extends layout

block content
  h1 Total de Aprovados por CRE
  table.table.table-condensed
    tr 
      td.text-center Código da CRE
      td.text-center Total de Aprovados
    each row in dados
      tr
        td.text-center #{row.codigoCRE}
        td.text-center #{row.TotalAprovados}