extends layout

block content
	p 
		h2 Trabalho feito por alunos do curso de Ciência da Computação da Universidade Federal do Rio de Janeiro para a disciplina Banco de Dados I.
		h2 O trabalho tem, por intuito, fazer com que aprendamos a construir um banco de dados e utilizá-lo em uma aplicação web.
  
  
