nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid.center-block
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') BD
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Consultas
              span.caret
            ul.dropdown-menu
              li 
                a(href='/consulta01') Aprovados por Bairro
              li 
                a(href='/consulta02') Professores por escola
              li 
                a(href='/consulta03') Disciplina por escola
              li.divider(role='separator')
              li 
                a(href='/consulta04') Série por CRE
              li 
                a(href='/consulta05') Número de professores por bairro
              li 
                a(href='/consulta06') Alunos por bairro em 2012 e 2013
              li.divider(role='separator')
              li 
                a(href='/consulta07') Aprovados por CRE
              li 
                a(href='/consulta08') Média de aprovados por CRE
              li 
                a(href='/consulta09') Média de professores por disciplina
              li.divider(role='separator')
              li 
                a(href='/consulta10') Bairros que não possuem escolas       
              li 
                a(href='/consulta11') Lista de CRE                  